::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

h4 {
  background-color: darkred;
  margin-bottom: 10px;
  padding: 10px;
}

.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}