/* this css is used to create a fixed full screen background that is the bottom most layer */
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}