body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBackground {
  background: rgb(34,193,195);
  background: linear-gradient(100deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.minorBackground {
  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}